.online-users-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-width: 20%;

  .logout-button-wrapper {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .online-users-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 20%;
  }
}

